.banner {
    background-color: #d4cdcd8c;
    color: #080808d2;
    font-size: 19px;
    font-weight: 600;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    align-content: center;

        i {
            font-size: 20px;
            margin-right: 12px;
        }

        p {
            margin-left: 12px;
        }
}

.resa-menu {
    background-color: #F2F2F2;
    text-align: center;
    padding: 40px 20px 52px 20px;

        h1 {
            margin: 0 0 15px 0;
            font-size: 26px;
            font-weight: bolder;
            padding: 0 50px 0 50px;
        }
        
        p {
            font-size: 22px;
            color: #7e7e7e;
        }

        &__btn {
            @include button-violet;
            margin-top: 20px;
        }
}

.funct-container {
    margin: 50px 0 45px 0;

        h2 {
            padding-left: 25px;

            @media screen and (min-width: 660px) {
                margin-bottom: 50px;
                padding-left: 5.5%;
            }

            @media screen and (min-width: 960px) {
                margin-bottom: 40px;
                padding-left: 2.5%;
            }
        }

        &__tuto {
            display: flex;
            flex-direction: column;

            @media screen and (min-width: 960px) {
                flex-direction: row;
                justify-content: space-around;
            }
        }

        &__tuto__detail {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 30px 30px 8px;

            @media screen and (min-width: 960px) {
                margin-right: 15px;
            }
        
            &__number {
                position: relative;
                left: 14px;
                background-color: #9356DC;
                color: white;
                border-radius: 50%;
                height: 30px;
                width: 40px;

                @media screen and (min-width: 660px) and (max-width: 959px) {
                    width: 30px;
                }
            
                &__position {
                    position: relative;
                    left: 9px;
                    top: -13px;

                }
            }
        
            &__icon-text {
                display: flex;
                align-items: center;
                background-color: #F2F2F2;
                font-size: 18px;
                font-weight: 600;
                border: none;
                border-radius: 25px;
                box-shadow: 5px 5px 8px #ccc;
                height: 80px;
                width: 100%;
                padding: 0 40px 0 40px;

                &:hover {
                    background-color: #f6f0ffef;
                        i {
                            color: #9356DC;
                        }
                }

                i {
                    font-size: 24px;
                    margin-right: 30px;
                    color: #7e7e7e;
                }

                @media screen and (min-width: 660px) and (max-width: 959px) {
                    justify-content: center;
                    width: 60%;
                }
            }
        }
          
}

.resto-container {
    background-color: #F2F2F2;
    width: 100%;


        h2 {
            padding: 50px 0 0 25px;

            @media screen and (min-width: 660px) {
                padding-bottom: 18px;
                padding-left: 5.5%;
            }

            @media screen and (min-width: 960px) {
                padding-bottom: 18px;
                padding-left: 2.5%;
            }

        }

        &__all-cards {
            padding: 0 25px 50px 25px;

            @media screen and (min-width: 960px) {
                width: 100%;
                display: flex;
                padding: 0 0 50px 0;
            }

            &__duo {
                @media screen and (min-width: 660px) and (max-width: 959px) {
                    display: flex;
                    justify-content: space-around;
                    margin-top: 40px;

                    a {
                        width: 44%;
                    }
                }
                
                @media screen and (min-width: 960px) {
                    display: flex;
                    justify-content: space-around;
                    width: 50%;

                    a {
                        width: 44%;
                    }
                }
            }
        }   
    }

.resto-container__cards {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 10px #ccc;
    position: relative;
    width: 100%;

    @media screen and (min-width: 660px) {
        width: 100%;
        margin-bottom: 0;

    }

        &__img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
        }

        &__new {
            position: absolute;
            right: 4%;
            top: 2%;
            background-color: $tertiary-color;
            color:green;
            padding: 6px;
            width: 100px;
            text-align: center;
        }

        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px 0 20px;

            &__name {
                color: black;
                h3 {
                    margin: 10px 0 5px 0;
                    font-size: 22px;
                }
    
                p {
                    margin: 0 0 15px 0;
                    font-size: 20px;
                }
            }

            &__heart {
                font-size: 30px;
                color: black;
                transition: color 300ms;

                &:hover {
                color: $primary-color;
                }
            }
        }
}


