.loader-container {
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $light-color;
    z-index: 1000;
    opacity: 0.95;
    @include display-center;
    animation: anim-loader 10ms 3s forwards;

    &__anim {
        @include display-center;
        flex-direction: column;
        width: 100%;
    

        &__text {
            text-align: center;
            font-family: $font-family-title;
            font-size: 30px;
            color: $text-icon-color;
            margin-bottom: 50px;
        }

        &__ball {
            font-size: 36px;
            display: flex;

            &--1 {
                @include ball-anim;
                background-color: $primary-color;
                animation: anim-icon 800ms cubic-bezier(.32, 0,.07,1) infinite alternate;
            }

            &--2 {
                @include ball-anim;
                background-color: $secondary-color;
                animation: anim-icon 800ms 200ms cubic-bezier(.32, 0,.07,1) infinite alternate;
            }

            &--3 {
                @include ball-anim;
                background-color: $tertiary-color;
                animation: anim-icon 800ms 400ms cubic-bezier(.32, 0,.07,1) infinite alternate;
            }
        }
    }

}

.banner {
    background-color: lighten($text-icon-color,42);
    color: lighten($dark-color,10);
    font-size: 19px;
    font-weight: 600;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    box-shadow: 0px 3px 5px $shadow-color inset;

        i {
            font-size: 20px;
            margin-right: 12px;
        }

        p {
            margin-left: 12px;
        }
}

.resa-menu {
    background-color: $background-card-color;
    text-align: center;
    padding: 40px 20px 52px 20px;

        h1 {
            margin: 0 0 15px 0;
            font-size: 26px;
            font-weight: bolder;
            padding: 0 50px 0 50px;
        }
        
        p {
            font-size: 22px;
            color: $text-icon-color;
        }

        &__btn {
            @include button-violet;
            margin-top: 20px;
        }
}

.funct-container {
    margin: 50px 0 45px 0;

        h2 {
            padding-left: 25px;

            @media screen and (min-width: 660px) {
                margin-bottom: 50px;
                padding-left: 5.5%;
            }

            @media screen and (min-width: 1140px) {
                margin-bottom: 40px;
                padding-left: 2.5%;
            }
        }

        &__tuto {
            display: flex;
            flex-direction: column;

            @media screen and (min-width: 1140px) {
                flex-direction: row;
                justify-content: space-around;
            }
        }

        &__tuto__detail {
            @include display-center;
            margin: 0 30px 30px 8px;

            @media screen and (min-width: 1140px) {
                margin-right: 15px;
            }
        
            &__number {
                position: relative;
                left: 14px;
                background-color: $primary-color;
                color: $light-color;
                border-radius: 50%;
                height: 30px;
                width: 40px;

                @media screen and (min-width: 660px) and (max-width: 1139px) {
                    width: 30px;
                }
            
                &__position {
                    position: relative;
                    left: 9px;
                    top: -13px;

                }
            }
        
            &__icon-text {
                @include display-center;
                @include box-shadow;
                background-color: $background-card-color;
                font-size: 18px;
                font-weight: 600;
                border: none;
                border-radius: 25px;
                height: 80px;
                width: 100%;
                padding: 0 40px 0 40px;

                &:hover {
                    background-color: lighten($primary-color,34%);
                        i {
                            color: $primary-color;
                        }
                }

                i {
                    font-size: 24px;
                    margin-right: 30px;
                    color: $text-icon-color;
                }

                @media screen and (min-width: 660px) and (max-width: 1139px) {
                    justify-content: center;
                    width: 60%;
                }
            }
        }
          
}

.resto-container {
    background-color: $background-card-color;
    width: 100%;

        h2 {
            padding: 50px 0 0 25px;

            @media screen and (min-width: 660px) {
                padding-bottom: 18px;
                padding-left: 5.5%;
            }

            @media screen and (min-width: 1140px) {
                padding-bottom: 18px;
                padding-left: 2.5%;
            }

        }

        &__all-cards {
            padding: 0 25px 50px 25px;

            @media screen and (min-width: 1140px) {
                width: 100%;
                display: flex;
                padding: 0 0 50px 0;
            }

            &__duo {
                @media screen and (min-width: 660px) and (max-width: 1139px) {
                    display: flex;
                    justify-content: space-around;
                    margin-top: 40px;

                    a {
                        width: 44%;
                    }
                }
                
                @media screen and (min-width: 1140px) {
                    display: flex;
                    justify-content: space-around;
                    width: 50%;

                    a {
                        width: 44%;
                    }
                }
            }
        }   
    }

.resto-container__cards {
    @include box-shadow;
    background-color: $light-color;
    border-radius: 20px;
    margin-bottom: 25px;
    position: relative;
    width: 100%;

    @media screen and (min-width: 660px) {
        width: 100%;
        margin-bottom: 0;

    }

        &__img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
        }

        &__new {
            position: absolute;
            right: 4%;
            top: 2%;
            background-color: $tertiary-color;
            color:green;
            padding: 6px;
            width: 100px;
            text-align: center;
        }

        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px 0 20px;

            &__name {
                color: $dark-color;
                h3 {
                    margin: 10px 0 5px 0;
                    font-size: 22px;
                }
    
                p {
                    margin: 0 0 15px 0;
                    font-size: 20px;
                }
            }

            &__heart {
                font-size: 30px; 
                position: relative; 

                .far {
                    color: $dark-color;
                }

                .fas {
                    @include heart-gradient;
                    position: absolute;
                    display: block;
                    bottom: 4px;
                    opacity: 0;
                    transition: opacity 300ms;
                        &:hover {
                            cursor: pointer;

                            @media screen and (min-width:1140px) {
                            opacity:1;
                            }                              
                        }

                        &:active {
                            @media screen and (max-width:1139px) {
                             animation: heart 300ms forwards;
                            }
                        }
                }
            }
        }
}
