header {
  position: relative;
  i {
    color: lighten($dark-color, 30);
    position: absolute;
    left: 2%;
    top: 37%;
    font-size: 30px;
    margin-left: 25px;
  }
}

.background {
  img {
    position: relative;
    width: 100%;
    height: 360px;
    object-fit: cover;
  }
}

.menu-container {
  position: relative;
  background-color: $background-card-color;
  border-radius: 60px 60px 0 0;
  margin-top: -60px;
  width: 100%;

  &__name-resto {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 25px 25px 0 25px;
    font-family: $font-family-title;
    font-size: 20px;
    position: relative;

    h1 {
      margin: 20px 0 0 0;
    }

    .far {
      font-size: 26px;
      padding-right: 20px;
      &:hover {
        cursor: pointer;
      }
    }

    .fas {
      @include heart-gradient;
      position: absolute;
      font-size: 26px;
      display: block;
      right: 45px;
      top: 53px;
      opacity: 0;
      transition: opacity 300ms;
      cursor: pointer;
      &:hover {

        @media screen and (min-width: 1140px) {
          opacity: 1;
        }
      }

      &:active {
        @media screen and (max-width: 1139px) {
          opacity: 1;
        }
      }
    }
  }

  &__menu-choice {
    @media screen and (min-width: 1140px) {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    &__presentation {
      h2 {
        margin: 40px 0 0 25px;
        color: $text-icon-color;
        font-weight: lighter;
        font-size: 20px;
      }

      .surlign-text {
        border-bottom: 4px solid $tertiary-color;
      }

      @media screen and (min-width: 1140px) {
        width: 33%;
      }

      &__cards--1 {
        animation: menu-moove 2s forwards;
      }
      &__cards--2 {
        animation: menu-moove 2s 70ms forwards;
      }
      &__cards--3 {
        animation: menu-moove 2s 140ms forwards;
      }

      &__cards__alone {
        @include box-shadow;
        display: flex;
        background-color: $light-color;
        border-radius: 20px;
        margin: 20px;
        padding-left: 10px;
        cursor: pointer;
        overflow: hidden;

        @media screen and (min-width:1140px) {

            &:hover &__all h3 {
              @include ellipsis;
              width: 205px;
            }
    
            &:hover &__all__banner__subtitle p {
              @include ellipsis;
              width: 205px;
            }
      
            &:hover &__all__banner__price p {
                transform: translateX(-65px);
            }
    
            &:hover &__ok {
              transform: translateX(0);
    
              &__icon {
                transform: rotate(360deg);
              }
            }
        }

        @media screen and (max-width:1139px) {

            &:active &__all h3 {
              @include ellipsis;
              width: 203px;
            }
    
            &:active &__all__banner__subtitle p {
              @include ellipsis;
              width: 203px;
            }
               
            &:active &__all__banner__price p {
                transform: translateX(-65px);
            }
    
            &:active &__ok {
              transform: translateX(0);
    
              &__icon {
                transform: rotate(360deg);
              }
            }
        }

        &__all {
          width: 100%;

          h3 {
            margin: 0;
            padding-top: 10px;
          }

          &__banner {
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            &__subtitle {
                p { 
                margin: 5px 0 5px 0;
              }
            }

            &__price {
              p {
                font-weight: 600;
                margin: 10px -50px 10px 15px;
                transform: translateX(0);
                transition: transform 500ms ease-in-out;
              }
            }
          }
        }

        &__ok {
          @include display-center;
          width: 20%;
          background-color: $tertiary-color;
          border-radius: 0 20px 20px 0;
          transform: translateX(100%);
          transition: transform 500ms ease-in-out;

          @media screen and (min-width:660px) and (max-width:1139px) {
            width: 13%;
          }

          &__icon {
            font-size: 34px;
            color: $light-color;
            transform: rotate(90deg);
            transition: transform 500ms 250ms ease-in-out;
          }
        }
      }
    }
  }

  &__order {
    @include display-center;
    margin-top: 50px;
    padding-bottom: 80px;

    &__btn {
      @include button-violet;
      width: 220px;
    }
  }
}

.footer {
  position: relative;
}
