/**************** HEADER **************/
header {
    text-align: center;

        img {
            height: 40px;
            margin: 30px 0 15px 0;
        }
}

/********** FOOTER *********/
.footer {
    background-color: #000000c2;
    padding: 15px 0 35px 25px;
    color: white;
    font-size: 20px;

    @media screen and (min-width: 660px) {
        display: flex;
        justify-content: space-between;
        padding: 35px 6%;
    }

    @media screen and (min-width: 1139px) {
        padding: 35px 8%;
    }

    a {
        color: white;
    }

        &__logo {
            p {
                font-family: 'Shrikhand', cursive;
                font-size: 24px;
                margin: 15px 0;
                
                @media screen and (min-width: 660px) {
                    text-align: center;
                }
            }
        }
 
        &__prop-resto {
        display: flex;
        align-items: baseline;

            .fa-utensils {
                font-size: 17px;
                margin-right: 13px;
            }

            .fa-hands-helping {
                font-size: 15px;
                margin-right: 10px;
            }

            p {
                margin: 0 0 9px 0;
            }
        
    }

    &__mention-contact {
            &__link {
                margin-bottom: 9px;
            }   
        }
}